.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.password {
    color: rgb(92, 49, 51);
}

